@using ShoppingCart_ASP.NET_MVC5.Models

<table>

    @foreach (var product in ViewBag.Products)
        {

                <tr>

                    <td>@product.pro_id</td>
                    <td>@product.activation_code</td>
                    <td>@product.purchase_time</td>

                </tr>

            }

        }

    }



</table>